.App{
    display: flex;
    background-color:  #1f293e;  
    justify-content: space-between;
}

.hire-btn{
    background-color: #2563eb;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.my-hr{
    background-color:#767676 ;
    box-shadow: 0 0 40px;
}

.container{
    width: 100%;
    max-width:  1600px;
    margin: 0 auto;
}

@media (max-width: 1500px) {
    .left-container{
        width: 300px !important;
        
    }
    .left{
        display: block !important;
    }
}
@media (max-width: 1200px) {
    .open-btn{
        display: block !important;
    }
    .left{
        display: none ;
    }
    .left-container{
        width: 10px !important;
    }
}

.open-btn{
     display: none;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
}